/* You can add global styles to this file, and also import other style files */
.custom-bg{
    background-image: url("assets/mondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-back-btn {
    border-style: none;
    background: transparent;
    color: blue;
    text-decoration: underline;
}